####################################################################
###           Domin's Git profile's configuration file           ###
####################################################################


[user]
    name = Dominik Janiec
    email = dominikjaniec@gmail.com

[apply]
    whitespace = fix

[commit]
    gpgSign = true

[core]
    autocrlf = true
    editor = vim

[diff]
    tool = vimdiff
    renames = true

[difftool]
    prompt = false

[merge]
    tool = vimdiff

[mergetool]
    keepBackup = false
    trustExitCode = true

[pull]
    ff = only


[alias]
    st = status
    lo = log --oneline --first-parent -9
    br = branch
    sw = switch
    df = diff --word-diff
    co = checkout
    rs = reset
    ad = add --all
    cm = commit --message
    rc = !git recommit-do-it
    cp = cherry-pick
    ft = fetch
    mg = merge
    pl = pull
    ps = push

    dft = difftool --tool vscode
    mgt = mergetool --tool vscode
    dftw = difftool --tool winmerge
    mgtw = mergetool --tool winmerge

    loog = log --oneline --graph
    visualise = !start gitk --all
    branches = branch --format=%(refname:short) --list
    details = show --format=fuller --show-signature --summary --stat --stat-width=140 --stat-graph-width=20
    fire-fire = !sh ~/Repos/git-fire/git-fire
    ignore-for = !sh -c 'curl --output .gitignore --fail \"https://raw.githubusercontent.com/github/gitignore/master/$0.gitignore\"'
    ignore-for-visualstudio = !git ignore-for VisualStudio
    recommit = commit --amend --reset-author
    recommit-do-it = !git recommit --no-edit
    save-as = !sh -c 'git cm \"SAVE: $0 [staged]\" --no-gpg-sign >> /dev/null || true && git ad >> /dev/null 2>> /dev/null && git cm \"SAVE: $0 [changes]\" --no-gpg-sign >> /dev/null || true && git looog -3'
    save = !sh -c 'git save-as \"Temporary commit on $(date \"+%Y-%m-%d %H:%M\")\"'
    hidden = !git ls-files -t | grep \"^S \" | cut --delimiter=\" \" --fields=2- --only-delimited
    hid-give = update-index --skip-worktree
    hid-recall = update-index --no-skip-worktree
    asided = !git branches _aside/*
    aside-under = !sh -c 'git co -b \"_aside/$0\" >> /dev/null && echo \"Put aside under: _aside/$0 as commits:\" && git save-as \"$0\" && git co -'
    aside = !sh -c 'git aside-under \"$(date +%Y-%m-%d_%H-%M)\"'
    marked = !git branches _mark/*
    mark-with = !sh -c 'git branch \"_mark/$0\" && echo \"Marked HEAD with _mark/$0 branch.\"'
    mark = !sh -c 'git mark-with \"$(date +%Y-%m-%d_%H-%M)\"'
    drop-untracked = !sh -c 'git st --porcelain=v2 | grep \"^\\? \" | cut --delimiter=\" \" --fields=2- --only-delimited | xargs --delimiter=\"\\n\" --no-run-if-empty rm --dir --recursive --verbose --'
    drop-branches = !sh -c 'echo \"Beware! Will drop branches matching to: $0\" && echo \"Might require --force for not already merged branches\" && git branches \"$0\" | xargs --delimiter=\"\\n\" --no-run-if-empty git branch --delete $1'
    drop-asided = !git drop-branches _aside/*
    drop-marked = !git drop-branches _mark/*

    set-sign-on = !git config --local commit.gpgSign true
    set-sign-off = !git config --local commit.gpgSign false
    set-user-private = !git config --local user.email dominikjaniec@gmail.com && git config --local user.name \"Dominik Janiec\"
    set-user-work = !git config --local user.email dominik.janiec@medius.com && git config --local user.name \"Dominik Janiec\"
    set-tool-vim = !git config --local diff.tool vim && git config --local merge.tool vim
    set-tool-winmerge = !git config --local diff.tool winmerge && git config --local merge.tool winmerge
    set-tool-visualstudio = !git config --local diff.tool visualstudio && git config --local merge.tool visualstudio
    set-tool-vscode = !git config --local diff.tool vscode && git config --local merge.tool vscode


[difftool "visualstudio"]
    cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\Common7\\IDE\\CommonExtensions\\Microsoft\\TeamFoundation\\Team Explorer\\vsDiffMerge.exe\" \"$LOCAL\" \"$REMOTE\" Source Target /ignorespace /t
[mergetool "visualstudio"]
    cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\Common7\\IDE\\CommonExtensions\\Microsoft\\TeamFoundation\\Team Explorer\\vsDiffMerge.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\" /ignorespace /m /t

[difftool "vscode"]
    cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[mergetool "vscode"]
    cmd = code --wait \"$MERGED\"


[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
